@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&display=swap');

body{
    margin: 0px;
    height: auto;
    font-family: 'Archivo Narrow','Pacifico', sans-serif, cursive, monospace;
/*    background image of the web page*/
/*
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: fixed;
*/
}

main{
    width: 80%;
    margin: auto;
}



#landing{
    background-color: antiquewhite;
}


#landing h1{
    margin: 0px;
    font-weight: 400;
    font-size: 3rem;
    text-transform: uppercase;    
}

#landing h2
{
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 0;
}

#landing-text{
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    text-align: center;
}

#landing-image{
    background-image: url("../images/henry-be-IicyiaPYGGI-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    height: 50vh;
    margin: 0;
    background-attachment: fixed;
}

.btn{
    padding: 0.5rem;
    border: 1px #ccc solid;
    border-radius: 50px;
    background: #407a66;
    color: cornsilk;
    margin: 5px;
    text-decoration: none;
    transition: background 1000ms ease;
    font-weight: bold;
}

.btn:hover{
    background:#f5f507;
    color: black;
}

#header{
 background-color: grey;
color: white;
padding: 8px;
text-align: center;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

.caption{
    text-align: center;
    margin: 0px;
}

.caption h3, p{
    margin: 0px;
}

footer{
    background-color: antiquewhite;
    font-weight: bold;
    padding: 10px;    
}

.block{
    width: 33.3%;
    float: left;
    height: 460px;
    border: 1px solid blue;
    padding: 5px;
    background-color: white;
}

/*.block class replaced by flex box model*/

#pcontainer{
    display: flex;
    flex-direction: row;
}

#block1{
    flex: 1;
    background-color: antiquewhite;
    padding: 10px;
}

#block2{
    flex: 1;
    background-color: aquamarine;
    padding: 10px;
    order: 3;
}

#block3{
    flex: 2;
    background-color: coral;
    padding: 10px;
    order: 2;
}


#formdiv{
    width: 70%;
    float: left;
}

#addressdiv{
    width: 30%;
    float: left;
    border: 1px solid green;
    padding: 25px 10px;  
/*
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 10px;
*/
}

.clear{
    clear: both;
}

.myform{
    padding: 20px;   
    border: 1px solid green;
}

.myform label{
    display: block;
}

.myform input[type="text"], .myform input[type="tel"], .myform input[type="email"], .myform textarea
{
    padding: 5px;
    width: 90%;
}

.fixbtn{
    position: fixed;
    top: 300px;
/*    left: 2.5%;*/
    margin-left: -100px;
}

#logo{
    position: absolute;
    top: 30px;
    margin-left: 30px;
    width: 80px;
    height: auto;
}


/*Media query for responsive web design*/
@media screen and (max-width: 700px) 
{
/*
    body{
        display: none;
    }
*/
    
    .block{
        width: 100%;
        float: none;
        text-align: center;
        height: 300px;
    }
    
    #formdiv, #addressdiv{
        width: 100%;
        float: none;
        text-align: center;
    }
    
    .fixbtn{
    position: fixed;
    top: 300px;
/*    left: 2.5%;*/
    margin-left: -70px;
   }
    
    #logo{
    position: absolute;
    top: 10px;
    margin-left: 10px;
    width: 10%;
    height: auto;
}
    
    
#landing h1{
    margin: 0px;
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;    
   }
    
    #pcontainer{
        flex-direction: column;
    }
    
}

    


